body,html
{
	margin: 0;
/* 	height:100%; */
	font-family: 'Raleway';
}

#logo
{
	padding: 2em 0;
}

#presentation
{
	margin: -5em 0;
	margin-bottom: 0;
	z-index: 0;
}

#hand
{
	z-index: 1;
}

#hand-desktop
{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	max-width: 30%;
	max-height: 100%;
}

#gratis, #step-by-step, #italiano
{
	padding: 2em 0;
}

#hand-img
{
	margin-left: -4em;
}

#powered
{
	margin: auto;
}

#doyouwant
{
	font-size: 16px !important;
}


#doyouwantdesktop
{
	font-size: 24px !important;
}

#tabs
{
	margin-top: 3em;
	margin-bottom: 6em;
}

#questions
{
	margin-top: 6em;
	margin-bottom: 3em;
}

.description
{
	font-size: 22px !important;	
	margin-top: 3em;
}

.fa-12x
{
	font-size: 12em;	
}

.no-padding-left
{
	padding-left: 0;
}

.no-padding
{
	padding: 0;
}

.with-a-little-margin
{
	margin-left: 2em;
	margin-right: 2em;
}

.position-fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}

.background-img
{
	/* The image used */
    background-image: url("../img/background.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook-badge
{
	max-width: 80%;
}

.with-vertical-padding
{
	padding: 1em 0;
}

.with-margin
{
	padding-left: 1em;
	padding-right: 1em;
}

.social
{
	padding: 1em;
}

.background-red
{
	background-color: #e45243;
}

.background-green
{
	background-color: #38a898
}

.red
{
	color: #e45243;
}

.black
{
	color: #2b2b2b;
}

.white
{
	color: white;
}